BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left
BreakConstructorInitializers: BeforeColon
SpacesBeforeTrailingComments: 1
SortIncludes: true
IncludeBlocks: Preserve
SpaceAfterCStyleCast: true
AlwaysBreakTemplateDeclarations: Yes
Cpp11BracedListStyle: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
